.board {
  background: rgb(114, 224, 195);
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 5rem auto;
  box-shadow: 5px 5px  rgb(14, 14, 14);
  user-select: none;
  cursor: pointer;
  border: 10px;
}
.boards {
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 2px rgb(20, 21, 21);
  color: rgb(10, 11, 11);
  font-size: 4rem;
  font-weight: bold;
}
.boards:active {
  background-color: gray;
}
.para>p{
  text-align: center;
  font-weight: 900;
}
.reset{
  text-align: center;
  
}
.reset>button{
  color: rgb(11, 13, 13);
  background-color: rgb(43, 221, 221);
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
}
